<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Brain Boost!</title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="animated zoomIn">Brain Boost</h1>
      <hr>
      <p class="animated fadeIn">A voting app created for <a href="http://www.freecodecamp.com/">freecodecamp</a>!</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 animated fadeIn">
        <h2>Brains</h2>
        <p>Have an idea that you just can't quite solidify, or aren't sure if it's any good? Post it in the brains and get useful feedback and ratings!</p>
        <p><a class="btn btn-info" href="brains" role="button">View brains &raquo;</a></p>
      </div>
      <div class="col-md-4 animated fadeIn">
        <h2>Boosts</h2>
        <p>Need an idea but having some trouble with your imagination? View the boosts for inspiration! Or do you have some cool ideas you don't mind sharing with others? Post them to be awesome!</p>
        <p><a class="btn btn-primary" href="boosts" role="button">View boosts &raquo;</a></p>
     </div>
      <div class="col-md-4 animated fadeIn">
        <h2>BrainBoost!</h2>
        <p>Brains and Boosts are the essence of BrainBoost! Get feedback and criticism on an existing idea, or get inspired by others' ideas! Sign up now to post and vote, or browse brains and boosts to be convinced.</p>
        <p><a class="btn btn-success" href="signup" role="button">Signup! &raquo;</a></p>
      </div>
    </div>
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
</body>
</html>
