<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Brain Boost!</title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="animated zoomIn">Login</h1>
      <hr>
      <center class="animated fadeIn">
        <a data-toggle="collapse" href="#loginlocal" class="btn btn-warning" role="button"><i class="fa fa-user fa-lg"></i> Login with Email</a>
        <a href="/auth/github" class="btn btn-info"><i class="fa fa-github fa-lg"></i> Login with Github</a>
        <a href="/auth/google" class="btn btn-danger" href="#"><i class="fa fa-google fa-lg"></i> Login with Google</a>
      </center>
      <br>
      <form class="form-horizontal collapse" id="loginlocal" name="loginForm" action="" method="post">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" title="email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Log in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
</body>
</html>
