<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Brain Boost! - New Post</title>
  <script>
  function collapse(e) {
    if ($(e).val() === "boost")
      $("#poll").collapse("hide");
    else $("#poll").collapse("show");
  }
  </script>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="animated rotateInDownLeft">New Post</h1>
      <hr>
      <form class="form-horizontal" id="newpost" action="/send" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
          <select class="form-control" name="type" onchange="collapse(this)">
            <option value="brain">Brain</option>
            <option value="boost">Boost</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputTitle" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="inputTitle" placeholder="Title" title="title" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputIdea" class="col-sm-2 control-label">Content</label>
          <div class="col-sm-10">
            <textarea type="text" name="idea" class="form-control" id="inputIdea" placeholder="Idea content..." required></textarea>
          </div>
        </div>
        <div class="form-group collapse in" id="poll">
          <label for="inputIdea" class="col-sm-2 control-label">Add a Poll</label>
          <div class="col-sm-10">
            <textarea type="text" name="poll" class="form-control" id="inputPoll" placeholder="Poll options separated by commas..."></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
</body>
</html>
