<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Brain Boost! - <%=type%></title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <h1 class="animated rollin"><%=type%></h1>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/<%=active + '/sort/votes'%>">Votes</a></li>
        <li><a href="/<%=active + '/sort/dates'%>">Date</a></li>
      </ul>
    </div>
    <hr>
    <% if (sortby == "dates") { %>
      <% include /partials/sortdate %>
    <% } else if (sortby == "votes") { %>
      <% include /partials/sortvote %>
    <% } %>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
</body>
</html>
