<!DOCTYPE HTML>
<html>
<head>
  <% include /partials/head %>
  <title>Brain Boost! - Users</title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="animated rotateInDownLeft" id="profile-username">Name</h1>
    </div>
    <img src="" id="profile-avatar" class="avatar">
    <h4 class="text-faded" id="profile-date">Join Date: </h4>
    <h4 class="text-faded" id="profile-email">Email:</h4>
    <h4>Posts:</h4>
    <div id="posts">
    </div>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
</body>
</html>
