<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Brain Boost!</title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="animated rotateInDownLeft">Signup!</h1>
      <hr>
      <center>
        <a data-toggle="collapse" href="#loginlocal" class="btn btn-warning" role="button"><i class="fa fa-user fa-lg"></i> Signup with Email</a>
        <a href="/auth/github" class="btn btn-info"><i class="fa fa-github fa-lg"></i> Signup with Github</a>
        <a href="/auth/google" class="btn btn-danger" href="#"><i class="fa fa-google fa-lg"></i> Signup with Google</a>
      </center>
      <form class="form-horizontal collapse" id="localsignup" name="loginForm" ng-submit="loginForm.$valid && signup()">
        <h3 class="text-danger">{{error}}</h3>
        <h3 class="text-success">{{success}}</h3>
        <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$errors && !loginForm.username.$pristine }">
          <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input type="text" name="username" class="form-control" id="inputEmail3" ng-minlength="3" placeholder="Username" title="Username" ng-model="user.username" required>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" title="Email" ng-model="user.email" required>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$errors && !loginForm.password.$pristine }">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" ng-minlength="6" id="inputPassword3" placeholder="Password" ng-model="user.password" title="Password" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Signup</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
</body>
</html>
