<!DOCTYPE>
<html>
<head>
  <% include /partials/head %>
  <title>Brain Boost! - Users</title>
</head>
<body>
  <% include /partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="animated rotateInDownLeft">Users</h1>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="" ng-click="order('joinDate')">Join Date</a></li>
        <li><a href="" ng-click="order('username')">Username</a></li>
      </ul>
    </div>
    <hr>
    <div class="animated fadeIn post" ng-repeat="user in users | orderBy:predicate:reverse">
      {{user.username}}
      <h6>joined {{user.joinDate | date : format : timezone}}</h6>
    </div>
  </div>
  <div class="container">
    <% include /partials/footer %>
  </div>
  <% include /partials/scripts %>
</body>
</html>
